<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>Short It</title>
  </head>
  <body>
    <div class="container">
      <h1>Link Shortener</h1>
      <form action="api/url/shorten" method="post" class="my-4 form-inline">
        <label for="fullUrl" class="sr-only">URL</label>
        <input
          type="url"
          required
          placeholder="Url"
          name="fullUrl"
          id="fullUrl"
          class="form-control mr-2 col"
        />
        <button type="submit" class="btn btn-success">Shorten</button>
      </form>
      <table class="table table-striped table-responsive">
        <thead>
          <th>Full URL</th>
          <th>Short URL</th>
        </thead>
        <tbody>
          <% shortUrls.forEach(shortUrl =>{ %>
          <tr>
            <td>
              <a href="<%= shortUrl.longUrl %>"><%= shortUrl.longUrl %></a>
            </td>
            <td>
              <a href="<%= shortUrl.shortUrl%>"><%= shortUrl.shortUrl%></a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
